!!! 5
html
  head
    title= title
    include ../../../../../web/index.js
    include ../../../../../web/resources/stylesheets/style.css
    meta(charset='utf-8')
  body
    header#mainMenu
      nav
        a(href='#')
          img(src='../resources/icons/lolgo-30px.png')
          h1
            | MICROSOFT
            b &nbsp;DATA GATHERING
        ul
          li
            a(href='#/getStarted') Get Started
          li
            a(href='#/useCases') Use Cases
          li
            a(href='#/openSource') Open Source
          li
            a(href='#/support') Support
          li
            a.language-select #{language}&nbsp;
              ul.dropdown
                each lang in languages
                  li(value=lang.value) #{lang.text}
            a(href='#/login') Login 
            | / 
            a(href='#/register') Register
    article#home.hidden
      section.headDescrip
        div
          | Microsoft Data Gathering offers organizations a fast,
          br
          | accurate, cost effective and
          br
          | user-friendly way to collect data using mobile devices.
      section.contentDescrip
        div
          .col-left
            p
              | Collecting field data the old-fashioned way, by filling in paper forms, transporting them, to a central location,
              | and transcribing them, is slow and cumbersome. It delays the availability of information and can hamper the ability
              | to make crucial decisions.
            p
              | Data collection with a mobile device can dramatically improve the speed and quality of information obtained from
              | the field. The more time-critical the need for data and the more remote the location, the more organizations
              | can benefit from a mobile phone based solution.
            p
              | Microsoft Data Gathering is a comprehensive solution that allows organizations to collect rich field data, including
              | GPS location tags and images, using mobile phones and tablets instead of paper forms or laptops.
            p
              | Because mobile devices can transmit data even from remote locations, the information collected can be available
              | for analysis in near-real time.
          .col-right
            img(src='../resources/images/collage.jpg')
      section#instruction
        div
          h2 HOW IT WORKS
          ul
            .col-left
              li
                a(href='#/getStarted#step1')
                  img(src='../resources/images/howitworks_1.png')
                  span 1
                  span
                    | Create a questionnaire on
                    br
                    | the survey editor
              li
                a(href='#/getStarted#step2')
                  img(src='../resources/images/howitworks_2.png')
                  span 2
                  span
                    | Publish the data for data
                    br
                    | collectors
              li
                a(href='#/getStarted#step3')
                  img(src='../resources/images/howitworks_3.png')
                  span 3
                  span
                    | Fill in the questionnaire on
                    br
                    | your mobile device
            .col-right
              li
                a(href='#/getStarted#step4')
                  img(src='../resources/images/howitworks_4.png')
                  span 4
                  span
                    | Send your data to the
                    br
                    | server over the mobile
                    br
                    | network
              li
                a(href='#/getStarted#step5')
                  img(src='../resources/images/howitworks_5.png')
                  span 5
                  span
                    | View, map, and export
                    br
                    | your data
      section.videoBlock
        div
          p
            i
              | This video is about the use of Microsoft Data Gathering to 
              b.bold combat dengue fever 
              | in Amazonas State, Brazil.
          iframe.video(src='//www.youtube.com/embed/kP1v9Snz6HA')  
      section#benefits
        div
          h2 BENEFITS
          ul
            .col-left
              li
                img(src='../resources/icons/speed.png')
                h3 Speed
                | Compared to using paper forms, mobile solutions cut down delays
                | caused by transportation and manual digitalization of collected
                | data.
              li
                img(src='../resources/icons/cost-efficiency.png')
                h3 Cost efficiency
                | Transportation and logistics costs are reduced, as are the needs
                | for manual data entry and cleaning. There is also a cost of
                | inaction saved with the ability to make critical decisions and
                | react rapidly.
            .col-right
              li
                img(src='../resources/icons/accuracy.png')
                h3 Accuracy
                | Data entry occurs at the point of collection, without needing to
                | transcribe hand-written information. This lowers the frequency of
                | transcription and data entry errors.
              li
                img(src='../resources/icons/usability.png')
                h3 Usability
                | Mobile phones are small, easy to carry, have battery longevity,
                | and enable the capture of rich data such as GPS location tags
                | and images.
      section#awards
        div
          .col-left
            h2 AWARDS
            ul
              li
                b 2012
                | : Microsoft Data Gathering was a Featured Project of the
                br
                | Month for July in the Developer Community Blog.
              li
                b 2011
                | : Microsoft Data Gathering won the Justmeans Social
                br
                | Innovation Award in the category "Philanthropy: Most Strategic
                br
                | Use of Philanthropic Funds".
              li
                | The Justmeans international awards program is considered one of
                | the top honours in the field of sustainability, giving recognition to
                | companies implementing groundbreaking strategies and programs
                | that drive social and environmental innovation.
          .col-right
            h2 ACKNOWLEDGEMENTS
            p
              | We would like to extend our thanks to these organizations, which
              br
              | have been instrumental in getting Microsoft Data Gathering to
              br
              | where it is today.
            ul.markedList
              li
                a(href='http://www.indt.org/?lang=en') Nokia Technology Institute
              li
                a(href='http://www.uonbi.ac.ke/') University of Nairobi
              li
                a(href='http://cmri.shu.edu/') The Center for Mobile Research and Innovation
              li
                a(href='http://www.ayalafoundation.org/') The Ayala Foundation
      ul#footer
        li
          a(href='http://www.nokia.com/global/privacy/privacy/policy/privacy-policy/') Privacy Policy
        li
          a(href='http://www.nokia.com/global/privacy/privacy/cookie/cookie-policy/') Cookie Policy
        li
          a(href='http://www.nokia.com/global/privacy/privacy/service-terms/nokia-service-terms/') Service Policy
        li
          a(href="https://github.com/nokiadatagathering") Code
    article#getStarted.hidden
      section
        div
          h1 GET STARTED
          p
            | If you have your own server and wish to migrate your data
            | to this release of MDG the tool to do that is available 
            a(href="http://github.com/nokiadatagathering/ndg-migration") here
          ul
            li(data-step='step1')
              img(src='../resources/images/getstarted_step1.png')
              h2 Step 1: Register to the Microsoft Data Gathering Playground Server
              p
                | The ﬁrst thing you need to do is to ﬁll in the user registration form and create
                | an account on the Microsoft Data Gathering playground server. You can do this by
                | clicking 
                a(href='#/register') register on the homepage
                | .
            li(data-step='step2')
              img(src='../resources/images/getstarted_step2.png')
              h2 Step 2: Create a survey
              p
                | After you've conﬁrmed your account and logged in to the server, you can start
                | writing your own questionnaire using the survey editor. You can choose different
                | question types, set default answers or limits and even use skip logic to write your
                | questionnaire.
            li(data-step='step3')
              img(src='../resources/images/getstarted_step3.png')
              h2 Step 3: Download the Microsoft Data Gathering mobile application
              p
                | Download and install one of the Microsoft Data Gathering mobile applications.
              p
                i
                  | Please note that until the branding change is completed please use the server https://nokiadatagathering.net in the app settings. 
                  | Apps marked as 'New!' have been updated to use the https://microsoftdatagathering.net server and those marked as 'To be updated' still 
                  | default to https://nokiadatagathering.net
              p
                | Download the 
                a(href="http://www.windowsphone.com/en-us/store/app/nokia-data-gathering/a2bd7f51-6c7f-48d4-9fa7-12b35c550848") Windows Phone app
                |.
                img(src="../resources/icons/1-new.png")
                em New!
                br
                | Download the 
                a(href="https://nokiadatagathering.net/ndg-ota/client/ndg.jad") Java app
                |.
                img(src="../resources/icons/1-to-be-updated.png")
                em To be updated
                br
                | Download the 
                a(href="http://apps.microsoft.com/windows/app/nokia-data-gathering/4780fc68-fc8b-4db4-8cf7-110fe07dac42") Windows Tablet app
                |.
                img(src="../resources/icons/1-to-be-updated.png")
                em To be updated
            li(data-step='step4')
              img(src='../resources/images/getstarted_step4.png')
              h2 Step 4: Add users and make your survey available to them
              p
                | You can publish your questionnaire to your ﬁeld data collectors by adding them to
                | your main account in the Users section, organizing them into groups and giving
                | them different access permissions. You can make your questionnaire available to
                | as many users as you like. You can also send SMS notiﬁcations to your user groups.
            li(data-step='step5')
              img(src='../resources/images/getstarted_step5.png')
              h2 Step 5: Fill in the survey and send your results on your mobile device
              p
                | Open the Microsoft Data Gathering app you downloaded onto your mobile device
                | in Step 3, and login with your user credentials. The surveys that were made available
                | to you in Step 4 will be listed on the app. Just open the survey you want and create a new
                | result by entering the requested data in the blank ﬁelds.
              p
                | You can send your results back to the server immediately, or save them on the
                | phone to send later.
            li(data-step='step6')
              img(src='../resources/images/getstarted_step6.png')
              h2 Step 6: View and export your results
              p
                | Go back to your Playground Server account and take a look at all the results you've received.
                | You can map your geo-tagged data on Microsoft Maps, look at trends as simple graphs, or export
                | your data in XLS or KML formats for further data analysis.
    article#useCases.hidden
      section
        div
          h1 USE CASES
          ul
            li
              h2.nptlHeader Reducing the risk to drought in vulnerable communities in Uganda - FAO
              img(src='../resources/images/usecase_1.jpg')
              .col-left
                p
                  | As part of a regional initiative to reduce risk
                  | of drought in Eastern Africa with Early Warning Systems,
                  | the Food and Agriculture Organization of the United Nations
                  | (FAO) in Uganda is collecting geo-spatial and qualitative
                  | data about community animal health workers and providers
                  | of veterinary services and shops, among the rural pastoral
                  | communities of the Karamoja region.
                p
                  | The move from paper-based questionnaires to Microsoft Data Gathering
                  | has allowed more efficient operations by reducing the time to produce
                  | Drought Bulletins by 50%.
                p
                  | Furthermore, the project has enhanced participation of the community
                  | and the local government, and is supporting the capacity of the
                  | Department of Meteorology in issuing monthly weather updates
                  | for Karamoja.
                p
                  | FAO's efforts were recognized by the World Bank in recent study
                  | on mobile applications for the agriculture and forestry sector,
                  | published in December 2013.
              .col-right
                blockquote
                  | "We strive to improve the humanitarian situation by increasing
                  | the coping capacities of populations vulnerable to recurrent
                  | drought hazards and their effects through the provision of
                  | multi-sectorial assistance in the Horn of Africa.
                  | Microsoft Data Gathering is one of the most convenient
                  | and cost-effective tools for collecting data from remote areas."
                  p
                    b Bernard 0. Mwesigwa
                    | ,
                    | Programme Officer, M&E/Data Management, FAO Uganda
            li
              h2.nptlHeader Giving children the right to an identity in Kenya - Plan
              img(src='../resources/images/usecase_2.jpg')
              .col-left
                p
                  | An official identity is the foundation for child rights,
                  | child protection and later child's ticket to services such as
                  | secondary schooling. Official identity is obtained by parents
                  | through birth registration.
                p
                  | Today only five out of ten children in Kenya are registered.
                p
                  | Poor accessibility to offices and officers, slow processing
                  | of both birth notifications and certificates, and costs involved
                  | together with a lack of incentives for parents to register their
                  | children contribute to the current situation.
                p
                  | Plan together with the Ministry of Foreign Affairs in Finland is
                  | running a universal birth registration project in the Kwale district
                  | using Microsoft Data Gathering that has resulted in dramatically increased
                  | registration rates (from 30 to 68%).
              .col-right
                blockquote
                  | "The use of ICTs including mobile technology has great potential to support
                  | communities and governments in civil registration. Right to citizenship and
                  | identity are fundamental prerequisites in development."
                  p
                    b Mika Välitalo
                    | , Manager - ICT for Development, Plan Finland
            li
              h2.nptlHeader
                | Controlling dengue fever - Amazonas State Health Department and Health Vigilance Foundation
              img(src='../resources/images/usecase_3.jpg')
              .col-left
                p
                  | Amazonas State Health Department (SUSAM) and the Health Vigilance Foundation (FVS) leverage
                  | Microsoft Data Gathering to help fight the spread of dengue fever
                  | and increase the effectiveness of treatment.
                p
                  | During 2008,3S22 cases of the dengue were registered in Manaus. With the help of
                  | Microsoft Data Gathering, during 2009 the number of cases was reduced dramatically to just 245 - a 
                  b.bold 93% cut 
                  | in the number of cases.
                p
                  | Microsoft Data Gathering helped the health workers to do their jobs, by making their
                  | reports both faster and more accurate.
              .col-right
                blockquote
                  | "Microsofts technology will help us to more rapidly identify and investigate the results
                  | and symptoms of the surveyed population. The transmission of data immediately after
                  | the interviews improves agility, increases public safety and avoids manual filling-in of forms."
                  p
                    b Agnaldo Costa
                    | , State Health Secretary of Amazonas State
            li
              h2.nptlHeader Reducing the risk to drought in vulnerable communities in Kenya - FAO
              img(src='../resources/images/usecase_4.jpg')
              .col-left
                p
                  | Accurate, timely and geo-tagged data on water points and sources is
                  | an important basis to reduce the impact of drought among vulnerable communities
                  | living in recurrent drought Food Agriculture Organization (FAO) is working along
                  | with their NGO partners in Greater Horn of Africa to alleviate the risk
                  | to drought among pastoralist communities.
                p
                  | Microsoft Data Gathering is bringing mobile technology to water point surveys,
                  | reducing the amount of effort, time and cost to collect the information and
                  | enabling proper and timely preparedness activities.
                p
                  | To date information from over 500 points has been collected - and more into come.
                  | The collected information is also published in Disaster Risk Reduction website
                  | for public good.
              .col-right
                blockquote
                  | "A huge burden is put on organizations, especially small scale NG05,
                  | to collect, capture and process data timely for response and planning with
                  | no supported technology tools. Microsoft Data Gathering provides a simple and
                  | effective field solution with a centralized data administration system."
                  p
                    b Phillip Fong
                    | , Regional Data and Information Coordinator, FAO
    article#openSource.hidden
      section
        div
          h1 OPEN SOURCE
          h2.nptlHeader Microsoft Data Gathering is an Open Source solution
          .col-left
            p
              | We launched the open source version of Microsoft Data Gathering on 30 July 2010,
              | making the source code available to anyone for download, deployment and development.
              | There are no licensing costs for using the software, the code base is public,
              | and development occurs in a collaborative and community-driven manner.
            p
              | The open source model also empowers universities and local developers to participate
              | in creating tools and services on top of the core solution, helping to build local capacity.
              | This ultimately promotes innovation and entrepreneurship, and increases the sustainability of
              | technology adoption.
            p
              | The Microsoft Data Gathering Windows Phone client is licensed under Berkely Software Distribution BSD,
              | a family of permissive free software licenses, imposing minimal restrictions on the redistribution
              | of covered software.
          .col-right
            p
              | You can read the BSD license terms 
              a(href='http://opensource.org/licenses/BSD-2-Clause') here
              | .
            p
              | The Microsoft Data Gathering Playground Server and the Java client
              | are both licensed under the GNU Lesser General Public License, 
              a(href='https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html') LGPL 
              | which allows developers and companies to use and integrate the software into
              | their own (even proprietary) software without being required to release the source
              | code of their own software-parts.
            p
              | Microsoft Data Gathering complies with Open Rosa standards for data collection.
            p
              | The Microsoft Data Gathering source code and documentation repository is at 
              a(href='https://github.com/nokiadatagathering') https://github.com/nokiadatagathering
              | .
      section
        div
          h1 GET INVOLVED
          p
            | Here's how you can be a part of the Microsoft Data Gathering
            | developer and user community:
          ul.markedList
            li
              a(href='https://github.com/nokiadatagathering') Get the source code 
              | and develop
              | Microsoft Data Gathering
            li
              | Become a Microsoft Data Gathering service partner
            li
              | Help us plan future software releases
            li
              | Translate the Microsoft Data Gathering application into your language
    article#support.hidden
      section
        div
          h1 SUPPORT
          p How to get support:
          ul.markedList
            li
              a(href='/docs') Read the Microsoft Data Gathering user guide and documentation
            li
              | Access the 
              a(href='https://github.com/nokiadatagathering') Microsoft Data Gathering code repository
            li
              | Send an email to 
              a(href='support@nokiadatagathering.net') support@nokiadatagathering.net
              | .
          h1 FREQUENTLY ASKED QUESTIONS
          ul.questionList
            .col-left
              li
                h2.blueHeader 1) What are the benefits of mobile data collection?
                p
                  | The key benefits of mobile data collection are speed,
                  | accuracy, cost efficiency and usability. Please see the 
                  a(href='#/home') benefits section on the homepage 
                  | for more on benefits.
              li
                h2.blueHeader 2) How is Microsoft Data Gathering used in the field?
                p
                  | When time is of the essence, rapidly available, accurate information
                  | is critical for sound decision-making in any kind of organization.
                p
                  | For example: In Brazil, the Amazonas State Health Department and
                  | the Health Vigilance Foundation have used Microsoft Data Gathering
                  | to monitor and control the spread of dengue fever.
                p
                  | In East Africa, the Food and Agriculture Organization has conducted
                  | water and livestock surveys to reduce the risk of vulnerable
                  | communities to drought.
                p
                  | In Kenya, Plan Finland has worked with the Kenyan government
                  | to register births using Microsoft Data Gathering.
                p
                  | For more on use cases, please see the 
                  a(href='#') use cases page
                  | .
              li
                h2.blueHeader 3) Does it cost anything to use Microsoft Data Gathering?
                p
                  | Nokia Data Gathering is an open source solution so there are no licensing fees
                  | or charges for using the software. For more on open source, please see the 
                  a(href='#/openSource') open source page
                  | .
                p
                  | Of course, there are costs associated with the hardware
                  | (mobile phones, servers, SIM cards) necessary for using
                  | Nokia Data Gathering, as well as the implementation of a data collection project.
                  | These costs must be scoped and borne by the organization using the solution.
              li
                h2.blueHeader 4) What are the license terms for Microsoft Data Gathering?
                p
                  | The Microsoft Data Gathering Windows Phone client is licensed under the open source
                  | Berkeley Software Distribution (BSD) License family. The Microsoft
                  | Data Gathering Playground Server and the Java client are both licensed under
                  | the GNU Lesser General Public License (ILGPL).Microsoft Data Gathering complies with
                  | the standards of the OpenROSA Consortium on mobile data collection.
                p
                  | For more on our licenses, please see the 
                  a(href='#/openSource') open source page
                  | .
            .col-right
              li
                h2.blueHeader 5) Which devices are compatible with Microsoft Data Gathering?
                p
                  | The Windows Phone version of the Microsft Data Gathering mobile client is
                  | a Silverlight application for Windows Phone 7 and a Cordova/Sensa Touch application for
                  | Windows Phone 8. The Windows Tablet version runs on Windows RT devices. The Java application runs
                  | on Symbian and Nokia OS devices.
                p
                  | If you have a specific query about device compatibility, please let
                  | us know by sending an email to 
                  a(href='support@nokiadatagathering.net') support@nokiadatagathering.net
                  | .
              li
                h2.blueHeader 6) Where can I find the Microsoft Data Gathering source code?
                p
                  | You can get the source code at 
                  a(href='https://github.com/nokiadatagathering') https://github.com/nokiadatagathering
                  | .
              li
                h2.blueHeader 7) How can I host my own server data?
                p
                  | The instructions for setting up and hosting your own
                  | server are contained in the 
                  a(href='https://github.com/nokiadatagathering/ndgdocs/blob/master/README') README
                  | .
              li
                h2.blueHeader 8) What are the previous versions of Microsoft Data Gathering?
                p
                  | Please see our 
                  a(href='#') release archive
                  | . for more information on previous releases of
                  | Microsoft Data Gathering.
              li
                h2.blueHeader 9) Can students work on Microsoft Data Gathering?
                p
                  | Yes. Please see the description of our 
                  a(href='#')  University Collaboration Program
                  | .
              li
                h2.blueHeader 10) Can I translate the Microsoft Data Gathering mobile client into my language?
                p
                  | Yes. Please get in touch with us at 
                  a(href='support@nokiadatagathering.net') support@nokiadatagathering.net 
                  | and work with us to provide a translation of
                  | the software in your language. We will then push this out
                  | and make the language version available to all users.
    article#login.hidden
      section
        div
          h1 LOGIN
          form
            label.col-left
              input(type='text', name='username', placeholder='Enter your username...')
            label.col-right
              input(type='password', name='password', placeholder='Enter your password...')
              .error
            a(href='#/forgotPassword') Forgot your password?
            button(type='submit') Login
    article#register.hidden
      section
        div
          h1 REGISTER
          form(action='signup', met='post', autocomplete="off")
            label.col-left
              input(type='text', placeholder='First name', name='firstName', data-validation='len(2, 60);')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 2 and cannot be longer than 60 characters.
            label.col-right
              input(type='text', placeholder='Last name', name='lastName', data-validation='len(2, 60);')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 2 characters.
            label.col-left
              input(type='text', placeholder='Username', name='username', data-validation='len(5,13);isAlpha;uniqeUsrName;')
              .error
                span(data-validation-msg='uniqeUsrName')
                  | This username is already used.
                span(data-validation-msg='len')
                  | This field must have at least 5 and cannot be longer than 13 characters.
                span(data-validation-msg='isAlpha')
                  | Nickname can contain only numbers, periods and Latin letters.
            label.col-right
              input(type='text', placeholder='Email', name='email', data-validation='isEmail;')
              .error
                span(data-validation-msg='isEmail')
                  | This is not a valid email.
            label.col-left
              input(type='password', placeholder='Password', name='password', data-validation='len(8,20);')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 8 and cannot be longer than 20 characters.
            label.col-right
              input(type='password', placeholder='Confirm password', name='confirmpass', data-validation='isMatch(password)')
              .error
                span(data-validation-msg='isMatch')
                  | Passwords do not match
            label.col-left
              input(type='text', placeholder='Phone number', name='phone', data-validation='len(10,15);isNumber;')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 10 and cannot be longer than 15 characters.
                span(data-validation-msg='isNumber')
                  | This is not a valid phone number.
            label.col-right
              input(type='text', placeholder='Company', name='company', data-validation='len(2, 60);')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 2 and cannot be longer than 60 characters.
            label.col-left
              input(type='text', placeholder='Industry', name='industry', data-validation='len(2, 60);')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 2 and cannot be longer than 60 characters.
            label.col-right
              select(placeholder='Country', name='country', data-validation='len(1);')
                option(value='') Country
                each country in countries
                    option(value=country) #{country}
              .error
                span(data-validation-msg='len')
                  | This field cannot be blank.
            button(type='submit') Create Account
    article#forgotPassword.hidden
      section
        div
          h1 FORGOT YOUR PASSWORD?
          .msg.hidden
            p If you have entered a valid email, please check it for further instructions.
          form
            p
              | Please enter your username and email to reset your password.
            p
              | If you forgot your username, please enter your email
              | only and we will send all usernames related to this email.
            label.col-left
              input(type='text', name='username', placeholder='Username...')
            label.col-right
              input(type='text', name='email', placeholder='Email...', data-validation='isEmail;')
              .error
                span(data-validation-msg='isEmail')
                  | This is not a valid email.
            button(type='submit') Proceed
    article#resetPassword.hidden
      section
        div
          h1 RESET PASSWORD
          form
            label.col-left
              input(type='password', placeholder='Enter new password...', name='password', data-validation='len(8,20);')
              .error
                span(data-validation-msg='len')
                  | This field must have at least 8 and cannot be longer than 20 characters.
            label.col-right
              input(type='password', placeholder='Confirm new password...', name='confirmpass', data-validation='isMatch(password)')
              .error
                span(data-validation-msg='isMatch')
                  | Passwords do not match
            button(type='submit') Apply
    article#resetPasswordError.hidden
      section
        div
          h1 RESET PASSWORD
          .msg
            p Password reset token is invalid or has expired.
          
    .modal.success-registration.hidden
      .overlay
      .window
        .window-body
          div You have successfully created an account on the server! Please check your email to continue with the registration process. If you cannot find the email in your inbox then please check your Spam folder
            input(type="button" value="OK")

