doctype html
html(lang='en')
  head
    title= title
    script(src='home.js')
    link(rel='stylesheet' href='styles/home.css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' )
    meta(charset='utf-8')
  body
    .g-page-wrapper
      .b-page__head-line
        .b-line-bit.b-line-bit--red
        .b-line-bit.b-line-bit--green
        .b-line-bit.b-line-bit--blue
        .b-line-bit.b-line-bit--yellow
      div
        header.b-page__header
          .b-head-logo
            a.b-logo__title(href='#/home')
              img.b-logo__img(src='assets/images/logo-30px.png'
                alt='Microsoft Data Gathering')
              span Microsoft Data Gathering
          .b-menu
            nav.b-menu-nav
              a.b-menu-nav__link(href='#/getStarted')
                | Get Started
              a.b-menu-nav__link(href='#/useCases')
                | Use Cases
              a.b-menu-nav__link(href='#/openSource')
                | Open Source
              a.b-menu-nav__link(href='#/support')
                | Support
          .b-account-menu
            a.language-select.b-account-menu__locale(href='#') #{language}&nbsp;
            ul.dropdown
              each lang in languages
                li: a.b-account-menu__language(href='#' value=lang.value title=lang.title lang=lang.value)
                  span.hide-text  #{lang.title}
                  span.screnreder-ignore(role='presentation' aria-hidden='true') #{lang.text}
            .b-account-menu__user
              a(title='Login to Microsoft Data Gathering' href='#/login') Login
              | /
              a(title='Register to Microsoft Data Gathering' href='#/register') Register
      article#home.hidden
        .b-content-header
          h1.b-content-header__title
            | Microsoft Data Gathering
          p.b-content-header__text
            | Offers organizations a fast, accurate, cost effective and
            br
            | user-friendly way to collect data using mobile devices.
        .b-page__line
          .b-content.b-content--line.b-content--main
            .b-content--main__article
              p.b-content--main__article__indent
                | Collecting field data the old-fashioned way, by filling in paper forms, transporting them, to a central
                | location,
                | and transcribing them, is slow and cumbersome. It delays the availability of information and can hamper the
                | ability
                | to make crucial decisions.
              p.b-content--main__article__indent
                | Data collection with a mobile device can dramatically improve the speed and quality of information obtained from
                | the field. The more time-critical the need for data and the more remote the location, the more organizations
                | can benefit from a mobile phone based solution.
              p.b-content--main__article__indent
                | Microsoft Data Gathering is a comprehensive solution that allows organizations to collect rich field data,
                | including
                | GPS location tags and images, using mobile phones and tablets instead of paper forms or laptops.
              p.b-content--main__article__indent
                | Because mobile devices can transmit data even from remote locations, the information collected can be available
                | for analysis in near-real time.
            .b-content-main__image
              img(src='../assets/images/collage.jpg'
                alt='Pictures of MDG in use')
        .b-page__line
          .b-content.b-content--line
            h2.b-content-title
              | How It Works
            .b-content__col-left
              .b-content__col-left__item
                .b-content__col-left__item__picture
                  img.b-content__col-left__item__picture--img(src='../assets/images/howitworks_1.png'
                    alt='First step of how MDG works. Create a questionnaire')
                .b-content__col-left__item__caption
                  span.b-content__col-left__item__caption__number 1
                  span.b-content__col-left__item__caption__text--blue
                    | Create a questionnaire on
                    br
                    | the survey editor
              .b-content__col-left__item
                .b-content__col-left__item__picture
                  img.b-content__col-left__item__picture--img(src='../assets/images/howitworks_2.png'
                    alt='Second step of how MDG works. Publish the data for data collectors.')
                .b-content__col-left__item__caption
                  span.b-content__col-left__item__caption__number 2
                  span.b-content__col-left__item__caption__text--blue
                    | Publish the data for data
                    br
                    | collectors
              .b-content__col-left__item
                .b-content__col-left__item__picture
                  img.b-content__col-left__item__picture--img(src='../assets/images/howitworks_3.png'
                    alt='Third step of how MDG works. Fill in the questionnaire on the device')
                .b-content__col-left__item__caption
                  span.b-content__col-left__item__caption__number 3
                  span.b-content__col-left__item__caption__text--blue
                    | Fill in the questionnaire on
                    br
                    |  your mobile device
            .b-content__col-right
              .b-content__col-right__item
                .b-content__col-right__item__picture
                  img.b-content__col-right__item__picture--img(src='../assets/images/howitworks_4.png'
                    alt='Fourth step of how MDG works. Send your data to the server')
                .b-content__col-right__item__caption
                  span.b-content__col-right__item__caption__number 4
                  span.b-content__col-right__item__caption__text--blue
                    | Send your data to the
                    br
                    |  server over the mobile network
              .b-content__col-right__item
                .b-content__col-right__item__picture
                  img.b-content__col-right__item__picture--img(src='../assets/images/howitworks_5.png'
                    alt='Fifth step of how MDG works. View, map or export your data')
                .b-content__col-right__item__caption
                  span.b-content__col-right__item__caption__number 5
                  span.b-content__col-right__item__caption__text--blue
                    | View, map, and export
                    br
                    | your data
        .b-page__line
          .b-content.b-content--line
            h2.b-content-title#benefits
              a(name='benefits') Benefits
            .b-content__col-left
              .b-content__col-left__item.b-content__col-left__item--benefits
                .b-content__col-left__item__icon
                  img.b-content__col-left__item__icon--img(src='../assets/images/benefits1.png'
                    alt='Compared to using paper forms, mobile solutions cut down delays')
                .b-content__col-left__item__caption
                  h3.b-content__col-left__item__caption__title Speed
                  p.b-content__col-left__item__caption__text
                    | Compared to using paper forms, mobile solutions cut down delays
                    | caused by transportation and manual digitalization of collected
                    | data.
              .b-content__col-left__item.b-content__col-left__item--benefits
                .b-content__col-left__item__icon
                  img.b-content__col-left__item__icon--img(src='../assets/images/benefits2.png'
                    alt='Transportation and logistics costs are reduced')
                .b-content__col-left__item__caption
                  h3.b-content__col-left__item__caption__title Cost efficiency
                  p.b-content__col-left__item__caption__text
                    | Transportation and logistics costs are reduced, as are the needs
                    | for manual data entry and cleaning. There is also a cost of
                    | inaction saved with the ability to make critical decisions and
                    | react rapidly.
                    | data.
            .b-content__col-right
              .b-content__col-right__item.b-content__col-right__item--benefits
                .b-content__col-right__item__icon
                  img.b-content__col-right__item__icon--img(src='../assets/images/benefits3.png'
                    alt='Data entry occurs at the point of collection')
                .b-content__col-right__item__caption
                  h3.b-content__col-right__item__caption__title Accuracy
                  p.b-content__col-right__item__caption__text
                    | Data entry occurs at the point of collection, without needing to
                    | transcribe hand-written information. This lowers the frequency of
                    | transcription and data entry errors.
              .b-content__col-right__item.b-content__col-right__item--benefits
                .b-content__col-right__item__icon
                  img.b-content__col-right__item__icon--img(src='../assets/images/benefits4.png'
                    alt='Mobile devices are easy to carry')
                .b-content__col-right__item__caption
                  h3.b-content__col-right__item__caption__title Usability
                  p.b-content__col-right__item__caption__text
                    | Mobile phones are small, easy to carry, have battery longevity,
                    | and enable the capture of rich data such as GPS location tags
                    | and images.
        .b-page__line
            .b-content.b-content-line
              .b-content__col-left
                h2.b-content-title Awards
                p.b-content__paragraph
                  strong 2012
                  | Microsoft Data Gathering was a Featured Project of the
                  br
                  | Month for July in the Developer Community Blog.
                p.b-content__paragraph
                  strong 2011
                  | Microsoft Data Gathering won the Justmeans Social
                  br
                  | Innovation Award in the category &quot;Philanthropy: Most Strategic
                  br
                  | Use of Philanthropic Funds&quot;.
                p.b-content__paragraph
                  | The Justmeans international awards program is considered one of
                  br
                  | the top honours in the field of sustainability, giving recognition to
                  br
                  | companies implementing groundbreaking strategies and programs
                  br
                  | that drive social and environmental innovation.
                  br
              .b-content__col-right
                .b-content__col-right__item
                  h2.b-content-title Acknowledgements
                  p.b-content__paragraph
                    | We would like to extend our thanks to these organizations, which
                    br
                    | have been instrumental in getting Microsoft Data Gathering to
                    br
                    | where it is today.
                  .b-content--acknowledge-list
                    a.b-content--acknowledge-list__link(href='http://www.indt.org/?lang=en', target='_blank') Nokia Technology Institute
                    a.b-content--acknowledge-list__link(href='http://www.uonbi.ac.ke/', target='_blank') University of Nairobi
                    a.b-content--acknowledge-list__link(href='http://cmri.shu.edu/', target='_blank') The Center for Mobile Research and Innovation
                    a.b-content--acknowledge-list__link(href='http://www.ayalafoundation.org/', target='_blank') The Ayala Foundation

      article#getStarted.hidden
        .b-content-header
          h1.b-content-header__title
            | Get Started
          p.b-content-header__text
            | If you have your own server and wish to migrate your data
            br
            | to this release of MDG the tool to do that is available
            a.b-content-header__text__link(href='https://github.com/nokiadatagathering/ndg-migration', target='_blank') here
        .b-page__line
          .b-content
            .b-step
              .b-step__left
                img.b-step__left__image(src='../assets/images/getstarted_step1.png'
                  alt='Register to the Microsoft Data Gathering Playground Server')
              .b-step__right
                h2.b-step__right__title
                  span.b-step__right__title__count Step 1
                  | Register to the Microsoft Data Gathering Playground Server
                p.b-step__right__paragraph
                  | The first thing you need to do is to fill in the user registration form and create
                  br
                  |  an account on the Microsoft Data Gathering playground server. You can do this by
                  br
                  |  clicking
                  a.b-step__right__paragraph__link(title='Register' href='#/register') register on the homepage
        .b-page__line
          .b-content
            .b-step
              .b-step__left
                img.b-step__left__image(src='../assets/images/getstarted_step2.png'
                  alt='Create a survey')
              .b-step__right
                h2.b-step__right__title
                  span.b-step__right__title__count Step 2
                  | Create a survey
                p.b-step__right__paragraph
                  | After you&apos;ve confirmed your account and logged in to the server, you can start
                  br
                  |  writing your own questionnaire using the survey editor. You can choose different
                  br
                  |  question types, set default answers or limits and even use skip logic to write your
                  br
                  |  questionnaire.
        .b-page__line
          .b-content
            .b-step
              .b-step__left
                img.b-step__left__image(src='../assets/images/getstarted_step3.png'
                  alt='Download the MDG mobile application')
              .b-step__right
                h2.b-step__right__title
                  span.b-step__right__title__count Step 3
                  | Download the Microsoft Data Gathering mobile application
                p.b-step__right__paragraph
                  | Download and install one of the Microsoft Data Gathering mobile applications.
                p.b-step__right__paragraph
                  | Download the
                  a.b-step__right__paragraph__link(href='https://www.microsoft.com/store/apps/9wzdncrdtkmb', target='_blank')
                    | Windows 8.1 app
                p.b-step__right__paragraph
                  | Download the
                  a.b-step__right__paragraph__link(href='https://www.microsoft.com/store/apps/9wzdncrdtkmb', target='_blank')
                    | Windows 10 App
                p.b-step__right__paragraph
                  | Download the
                  a.b-step__right__paragraph__link(href='https://www.microsoft.com/store/apps/9wzdncrdtkmb', target='_blank')
                    | Windows Phone 8.1 app
        .b-page__line
          .b-content
            .b-step
              .b-step__left
                img.b-step__left__image(src='../assets/images/getstarted_step4.png'
                  alt='Add users')
              .b-step__right
                h2.b-step__right__title
                  span.b-step__right__title__count Step 4
                  | Add users and make your survey available to them
                p.b-step__right__paragraph
                  | You can publish your questionnaire to your field data collectors by adding them to
                  br
                  |  your main account in the Users section, organizing them into groups and giving
                  br
                  |  them different access permissions. You can make your questionnaire available to
                  br
                  |  as many users as you like. You can also send SMS notifications to your user groups.
        .b-page__line
          .b-content
            .b-step
              .b-step__left
                img.b-step__left__image(src='../assets/images/getstarted_step5.png'
                  alt='Fill in the survey')
              .b-step__right
                h2.b-step__right__title
                  span.b-step__right__title__count Step 5
                  | Fill in the survey and send your results on your mobile device
                p.b-step__right__paragraph
                  | Open the Microsoft Data Gathering app you downloaded onto your mobile device
                  br
                  |  in Step 3, and login with your user credentials. The surveys that were made available
                  br
                  |  to you in Step 4 will be listed on the app. Just open the survey you want and create a new
                  br
                  |  result by entering the requested data in the blank fields.
                p.b-step__right__paragraph
                  | You can send your results back to the server immediately, or save them on the
                  | phone to send later.
        .b-page__line
          .b-content
            .b-step
              .b-step__left
                img.b-step__left__image(src='../assets/images/getstarted_step6.png'
                  alt='View and Export')
              .b-step__right
                h2.b-step__right__title
                  span.b-step__right__title__count Step 6
                  | View and export your results
                p.b-step__right__paragraph
                  | Go back to your Playground Server account and take a look at all the results you&apos;ve received.
                  br
                  |  You can map your geo-tagged data on Microsoft Maps, look at trends as simple graphs, or export
                  br
                  |  your data in XLS or KML formats for further data analysis.


      article#useCases.hidden
        .b-content-header
          h1.b-content-header__title
            | Use Cases
          p.b-content-header__text
            | A Real Solution to Real Problems
        .b-page__line
          .b-content.b-content--line
            h2.b-content-title
              | Reducing the risk to drought in vulnerable communities
              br
              |  in Uganda - FAO
            .b-content__col-left
              p.b-content__paragraph
                | As part of a regional initiative to reduce risk
                | of drought in Eastern Africa with Early Warning Systems,
                | the Food and Agriculture Organization of the United Nations
                | (FAO) in Uganda is collecting geo-spatial and qualitative
                | data about community animal health workers and providers
                | of veterinary services and shops, among the rural pastoral
                | communities of the Karamoja region.
              p.b-content__paragraph
                | The move from paper-based questionnaires to Microsoft Data Gathering
                | has allowed more efficient operations by reducing the time to produce
                | Drought Bulletins by 50%.
              p.b-content__paragraph
                | Furthermore, the project has enhanced participation of the community
                | and the local government, and is supporting the capacity of the
                | Department of Meteorology in issuing monthly weather updates
                | for Karamoja.
              p.b-content__paragraph
                | FAO's efforts were recognized by the World Bank in recent study
                | on mobile applications for the agriculture and forestry sector,
                | published in December 2013.
            .b-content__col-right
              .b-content__col-right__item
                img.b-content__col-right__item__photo(src='../assets/images/usecase_1.jpg'
                  alt='FAO in Eastern Africa')
                blockquote.b-content__col-right__item__photo-caption
                  | "We strive to improve the humanitarian situation by increasing
                  | the coping capacities of populations vulnerable to recurrent
                  | drought hazards and their effects through the provision of
                  | multi-sectorial assistance in the Horn of Africa.
                  | Microsoft Data Gathering is one of the most convenient
                  | and cost-effective tools for collecting data from remote areas."
                p.b-content__col-right__item__photo-location
                  | Bernard O. Mwesigwa,
                  br
                  | Programme Officer, M&E/Data Management, FAO Uganda
        .b-page__line
          .b-content.b-content--line
            h2.b-content-title
              | Giving children the right to an identity in Kenya - Plan
            .b-content__col-left
              p.b-content__paragraph
                | An official identity is the foundation for child rights,
                | child protection and later child's ticket to services such as
                | secondary schooling. Official identity is obtained by parents
                | through birth registration.
              p.b-content__paragraph
                | Today only five out of ten children in Kenya are registered.
              p.b-content__paragraph
                | Poor accessibility to offices and officers, slow processing
                | of both birth notifications and certificates, and costs involved
                | together with a lack of incentives for parents to register their
                | children contribute to the current situation.
              p.b-content__paragraph
                | Plan together with the Ministry of Foreign Affairs in Finland is
                | running a universal birth registration project in the Kwale district
                | using Microsoft Data Gathering that has resulted in dramatically increased
                | registration rates (from 30 to 68%).
            .b-content__col-right
              .b-content__col-right__item
                img.b-content__col-right__item__photo(src='../assets/images/usecase_2.jpg'
                  alt='Plan in Kenya')
                blockquote.b-content__col-right__item__photo-caption
                  | "The use of ICTs including mobile technology has great potential to support
                  | communities and governments in civil registration. Right to citizenship and
                  | identity are fundamental prerequisites in development."
                p.b-content__col-right__item__photo-location
                  | Mika Välitalo,
                  br
                  | Manager - ICT for Development, Plan Finland
        .b-page__line
          .b-content.b-content--line
            h2.b-content-title
              | Controlling dengue fever - Amazonas State Health Department and Health Vigilance Foundation
            .b-content__col-left
              p.b-content__paragraph
                | Amazonas State Health Department (SUSAM) and the Health Vigilance Foundation (FVS) leverage
                | Microsoft Data Gathering to help fight the spread of dengue fever
                | and increase the effectiveness of treatment.
              p.b-content__paragraph
                | During 2008,3S22 cases of the dengue were registered in Manaus. With the help of
                | Microsoft Data Gathering, during 2009 the number of cases was reduced dramatically to just 245 - a
                bold  93% cut
                | in the number of cases.
              p.b-content__paragraph
                | Microsoft Data Gathering helped the health workers to do their jobs, by making their
                | reports both faster and more accurate.
            .b-content__col-right
              .b-content__col-right__item
                img.b-content__col-right__item__photo(src='../assets/images/usecase_3.jpg'
                  alt='Malaria in Amazonas')
                blockquote.b-content__col-right__item__photo-caption
                  | "Microsofts technology will help us to more rapidly identify and investigate the results
                  | and symptoms of the surveyed population. The transmission of data immediately after
                  | the interviews improves agility, increases public safety and avoids manual filling-in of forms."
                p.b-content__col-right__item__photo-location
                  | Agnaldo Costa,
                  br
                  |  State Health Secretary of Amazonas State
        .b-page__line
          .b-content
            h2.b-content-title
              | Reducing the risk to drought in vulnerable communities in Kenya - FAO
            .b-content__col-left
              p.b-content__paragraph
                | Accurate, timely and geo-tagged data on water points and sources is
                | an important basis to reduce the impact of drought among vulnerable communities
                | living in recurrent drought Food Agriculture Organization (FAO) is working along
                | with their NGO partners in Greater Horn of Africa to alleviate the risk
                | to drought among pastoralist communities.
              p.b-content__paragraph
                | Microsoft Data Gathering is bringing mobile technology to water point surveys,
                | reducing the amount of effort, time and cost to collect the information and
                | enabling proper and timely preparedness activities.
              p.b-content__paragraph
                | To date information from over 500 points has been collected - and more into come.
                | The collected information is also published in Disaster Risk Reduction website
                | for public good.
            .b-content__col-right
              .b-content__col-right__item
                img.b-content__col-right__item__photo(src='../assets/images/usecase_4.jpg'
                  alt='Vulnerable communities in Kenya')
                blockquote.b-content__col-right__item__photo-caption
                  | "A huge burden is put on organizations, especially small scale NG05,
                  | to collect, capture and process data timely for response and planning with
                  | no supported technology tools. Microsoft Data Gathering provides a simple and
                  | effective field solution with a centralized data administration system."
                p.b-content__col-right__item__photo-location
                  | Phillip Fong,
                  br
                  |  Regional Data and Information Coordinator, FAO
      article#openSource.hidden
        .b-page__line
          .b-content-header
            h1.b-content-header__title
              | Open Source
            p.b-content-header__text
              | Microsoft Data Gathering is an Open Source solution
          .b-page__line
            .b-content
              .b-content__col-left
                p.b-content__paragraph
                  | We launched the open source version of Microsoft Data Gathering on 30 July 2010,
                  | making the source code available to anyone for download, deployment and development.
                  | There are no licensing costs for using the software, the code base is public,
                  | and development occurs in a collaborative and community-driven manner.
                p.b-content__paragraph
                  | The open source model also empowers universities and local developers to participate
                  | in creating tools and services on top of the core solution, helping to build local capacity.
                  | This ultimately promotes innovation and entrepreneurship, and increases the sustainability of
                  | technology adoption.
                p.b-content__paragraph
                  | The Microsoft Data Gathering Windows Phone client is licensed under Berkely Software Distribution BSD,
                  | a family of permissive free software licenses, imposing minimal restrictions on the redistribution
                  | of covered software.
              .b-content__col-right
                .b-content__col-right__item
                  p.b-content__paragraph
                    | You can read the BSD license terms
                    a.b-content__paragraph__link(href='http://opensource.org/licenses/BSD-2-Clause', target='_blank') here
                    | .
                  p.b-content__paragraph
                    | The Microsoft Data Gathering Playground Server and the client
                    | are both licensed under the GNU Lesser General Public License,
                    a.b-content__paragraph__link(href='https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html', target='_blank') LGPL
                    |  which allows developers and companies to use and integrate the software into
                    |  their own (even proprietary) software without being required to release the source
                    |  code of their own software-parts.
                  p.b-content__paragraph
                    | Microsoft Data Gathering complies with Open Rosa standards for data collection.
                  p.b-content__paragraph
                    | The Microsoft Data Gathering source code and documentation repository is at
                    a.b-content__paragraph__link(href='https://github.com/nokiadatagathering', target='_blank')  https://github.com/nokiadatagathering
                    | .
          .b-page__line
            .b-content
              .b-content__col-left
                h2.b-content-title
                  | Get Involved
                p.b-content__paragraph
                  | Here's how you can be a part of the Microsoft Data Gathering
                  | developer and user community:
                p.b-content__paragraph.b-content__paragraph--item
                  a.b-content__paragraph__link(href='https://github.com/nokiadatagathering', target='_blank') Get the source code
                  | and develop
                  | Microsoft Data Gathering
                p.b-content__paragraph.b-content__paragraph--item
                  | Become a Microsoft Data Gathering service partner
                p.b-content__paragraph.b-content__paragraph--item
                  | Help us plan future software releases
                p.b-content__paragraph.b-content__paragraph--item
                  | Translate the Microsoft Data Gathering application into your language

      article#support.hidden
        .b-page__line
          .b-content-header
            h1.b-content-header__title
              | Support
            p.b-content-header__text
              | Microsoft Data Gathering support page
        .b-page__line
          .b-content
            .b-content__col-left
              h2.b-content-title
                | How to get support
              p.b-content__paragraph.b-content__paragraph--item
                a.b-content__paragraph__link(href='/docs')
                  | Read the Microsoft Data Gathering user guide and
                  | documentation
              p.b-content__paragraph.b-content__paragraph--item
                | Access the
                a.b-content__paragraph__link(href='https://github.com/nokiadatagathering',, target='_blank')
                  | Microsoft Data Gathering code repository
              p.b-content__paragraph.b-content__paragraph--item
                | Send an email to
                a.b-content__paragraph__link(href='mailto:mdgspprt@microsoft.com')
                  | mdgspprt@microsoft.com
        .b-page__line
          .b-content
            h2.b-content-title
              | Frequently Asked Questions
            .b-content__col-left
              .b-content__col-left__item
                h3.b-content__col-left__item__title
                  span.b-content__col-left__item__title-number
                    | 1
                  | What are the benefits of mobile data collection?
                p.b-content__paragraph
                  | The key benefits of mobile data collection are speed,
                  | accuracy, cost efficiency and usability. Please see the
                  a.b-content__paragraph__link(href='#')  benefits section on the homepage
                  | for more on benefits.
              .b-content__col-left__item
                h3.b-content__col-left__item__title
                  span.b-content__col-left__item__title-number
                    | 2
                  | How is Microsoft Data Gathering used in the field?
                p.b-content__paragraph
                  | When time is of the essence, rapidly available, accurate information
                  | is critical for sound decision-making in any kind of organization.
                p.b-content__paragraph
                  | For example: In Brazil, the Amazonas State Health Department and
                  | the Health Vigilance Foundation have used Microsoft Data Gathering
                  | to monitor and control the spread of dengue fever.
                p.b-content__paragraph
                  | In East Africa, the Food and Agriculture Organization has conducted
                  | water and livestock surveys to reduce the risk of vulnerable
                  | communities to drought.
                p.b-content__paragraph
                  | In Kenya, Plan Finland has worked with the Kenyan government
                  | to register births using Microsoft Data Gathering.
                p.b-content__paragraph
                  | For more on use cases, please see the
                  a.b-content__paragraph__link(href='#/useCases') use cases page
              .b-content__col-left__item
                h3.b-content__col-left__item__title
                  span.b-content__col-left__item__title-number
                    | 3
                  | Does it cost anything to use Microsoft Data Gathering?
                p.b-content__paragraph
                  | Microsoft Data Gathering is an open source solution so there are no licensing fees
                  | or charges for using the software. For more on open source, please see the
                  a.b-content__paragraph__link(href='#/openSource')  open source page
                p.b-content__paragraph
                  | Of course, there are costs associated with the hardware
                  | (mobile phones, servers, SIM cards) necessary for using
                  | Microsoft Data Gathering, as well as the implementation of a data collection project.
                  | These costs must be scoped and borne by the organization using the solution.
              .b-content__col-left__item
                h3.b-content__col-left__item__title
                  span.b-content__col-left__item__title-number
                    | 4
                  | What are the license terms for Microsoft Data Gathering?
                p.b-content__paragraph
                  | The Microsoft Data Gathering Windows Phone client is licensed under the open source
                  | Berkeley Software Distribution (BSD) License family. The Microsoft
                  | Data Gathering Playground Server and the client are both licensed under
                  | the GNU Lesser General Public License (ILGPL).Microsoft Data Gathering complies with
                  | the standards of the OpenROSA Consortium on mobile data collection.
                p.b-content__paragraph
                  | For more on our licenses, please see the
                  a.b-content__paragraph__link(href='#/openSource')  open source page
            .b-content__col-right
              .b-content__col-right__item
                h3.b-content__col-right__item__title
                  span.b-content__col-right__item__title-number
                    | 5
                  | Which devices are compatible with Microsoft Data Gathering?
                p.b-content__paragraph
                  | The client is compatible with any device running Windows 8, Windows Phone 8 or Windows 10. Web forms can be used in any modern browser. Mobile clients are built using React & WinJS.
                p.b-content__paragraph
                  | If you have a specific query about device compatibility, please let
                  | us know by sending an email to
                  a.b-content__paragraph__link(href='mailto:mdgspprt@microsoft.com' ) mdgspprt@microsoft.com
                  |  .
              .b-content__col-right__item
                h3.b-content__col-right__item__title
                  span.b-content__col-right__item__title-number
                    | 6
                  | Where can I find the Microsoft Data Gathering source code?
                p.b-content__paragraph
                  | You can get the source code 
                  a.b-content__paragraph__link(href='https://github.com/nokiadatagathering/MDGServer') here
                  |  .
              .b-content__col-right__item
                h3.b-content__col-right__item__title
                  span.b-content__col-right__item__title-number
                    | 7
                  | How can I host my own server data?
                p.b-content__paragraph
                  | The instructions for setting up and hosting your own
                  | server are contained in the
                  a.b-content__paragraph__link(href='https://github.com/nokiadatagathering/MDGServer/blob/master/README.md') README
                  |  .
              .b-content__col-right__item
                h3.b-content__col-right__item__title
                  span.b-content__col-right__item__title-number
                    | 8
                  | What are the previous versions of Microsoft Data Gathering?
                p.b-content__paragraph
                  | Please see our
                  a.b-content__paragraph__link(href='#') release archive
                  |  for more information on previous releases of
                  |  Microsoft Data Gathering..
              .b-content__col-right__item
                h3.b-content__col-right__item__title
                  span.b-content__col-right__item__title-number
                    | 9
                  | Can I translate the Microsoft Data Gathering mobile client into my language?
                p.b-content__paragraph
                  | Yes. Please get in touch with us at
                  a.b-content__paragraph__link(href='mailto:mdgspprt@microsoft.com', target='_blank') mdgspprt@microsoft.com
                  |  and work with us to provide a translation of
                  |  the software in your language. We will then push this out
                  |  and make the language version available to all users.

      article#login.hidden
        .b-page__line
          .b-content-header
            h1.b-content-header__title
              | Login
            p.b-content-header__text
              | Log in to the server below
        .b-page__line
          .b-content
            form.e-form
              label.e-form__label(for='login_username') Username
              input.e-form__field#login_username(type="text", name="username", placeholder="Enter your username...", tabindex="0")
              label.e-form__label(for='login_password') Password
              input.e-form__field#login_password(type="password", name="password", placeholder="Enter your password...")
              .error
              button.e-form__button(type="submit" title='Login') Login
              // a.e-form__button(href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=#{clientId}&response_type=code&response_mode=query&#{redirect_uri}&scope=https%3A%2F%2Fgraph.microsoft.com%2FUser.Read" target="_blank" title='Login with Live ID') Login with Microsoft Account
              p.b-content__paragraph
                a.b-content__paragraph__link(href="#/forgotPassword") Forgot your password?
              p.b-content__paragraph
                | Don&#8217;t have an account?
                a.b-content__paragraph__link(title='Register' href="#/register") Register here

      article#register.hidden
        .b-page__line
          .b-content-header
            h1.b-content-header__title
              | Register
            p.b-content-header__text
              | Create an account below
        .b-page__line
          .b-content
            form.e-form(action='signup', method='POST', autocomplete="off")
              .b-form-row
                .b-form-row__col
                  label.e-form__label(for='firstName') First Name
                  input.e-form__field#firstName(type="text", name="firstName", data-validation='len(2, 60);', placeholder="Enter your First Name...")
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 2 and cannot be longer than 60 characters.
                .b-form-row__col
                  label.e-form__label(for='lastName')  Last name
                  input.e-form__field#lastName(type="text", name="lastName", data-validation='len(2, 60);', placeholder="Enter your Last name...")
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 2 characters.
              .b-form-row
                .b-form-row__col
                  label.e-form__label(for='username')  Username
                  input.e-form__field#username(type="text", name="username",  data-validation='len(5,13);isAlpha;uniqeUsrName;', placeholder="Enter your Username...")
                  .error
                    span(data-validation-msg='uniqeUsrName')
                      | This username is already used.
                    span(data-validation-msg='len')
                      | This field must have at least 5 and cannot be longer than 13 characters.
                    span(data-validation-msg='isAlpha')
                      | Nickname can contain only numbers, periods and Latin letters.
                .b-form-row__col
                  label.e-form__label(for='email')  Email
                  input.e-form__field#email(type="email", name="email", data-validation='isEmail;', placeholder="Enter your Email...")
                  .error
                    span(data-validation-msg='isEmail')
                      | This is not a valid email.
              .b-form-row
                .b-form-row__col
                  label.e-form__label(for='password')  Password
                  input.e-form__field#password(type="password", name="password", data-validation='len(8,20);', placeholder="Enter your Password...")
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 8 and cannot be longer than 20 characters.
                .b-form-row__col
                  label.e-form__label(for='confirmpass')  Confirm Password
                  input.e-form__field#confirmpass(type="password", name="confirmpass", data-validation='isMatch(password)', placeholder="Confirm your Password...")
                  .error
                    span(data-validation-msg='isMatch')
                      | Passwords do not match
              .b-form-row
                .b-form-row__col
                  label.e-form__label(for='phone')  Phone Number
                  input.e-form__field#phone(type="text", name="phone", data-validation='len(10,15);isNumber;', placeholder="Enter your Phone Number...")
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 10 and cannot be longer than 15 characters.
                    span(data-validation-msg='isNumber')
                      | This is not a valid phone number.
                .b-form-row__col
                  label.e-form__label(for='company')  Company
                  input.e-form__field#company(type="text", name="company", data-validation='len(2, 60);', placeholder="Enter your Company...")
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 2 and cannot be longer than 60 characters.
              .b-form-row
                .b-form-row__col
                  label.e-form__label(for='industry')  Industry
                  input.e-form__field#industry(type="text", name="industry", data-validation='len(2, 60);', placeholder="Enter your industry...")
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 2 and cannot be longer than 60 characters.
                .b-form-row__col
                  label.e-form__label Country
                  .e-select
                    label.e-select__label(for='country')
                      select.e-select__box#country(placeholder='Country', name='country', data-validation='len(1);')
                        option(value='') Country
                          each country in countries
                            option(value=country) #{country}
                      .error
                        span(data-validation-msg='len')
                          | This field cannot be blank.

              button.e-form__button.e-form__button--offset(type="submit") Create Account

      article#forgotPassword.hidden
        .b-modal-window
          .b-modal-window__main-block.b-forgot-pass
            .b-modal-window__main-block__header
              h2.b-modal-window__main-block__header--title
                | FORGOT YOUR PASSWORD?
              span.b-modal-window__main-block__header--icon-close()
                a.fa.fa-times(title='Login' href='#/login')
            .b-modal-window__main-block__body
              .msg.hidden
                p If you have entered a valid email, please check it for further instructions.
              form.e-form(method='POST')
                p
                  | Please enter your username and email to reset your password.
                p
                  | If you forgot your username, please enter your email
                  | only and we will send all usernames related to this email.
                label.e-form__label(for='username_forgot-pass')
                  Username
                  input.e-form__field#username_forgot-pass(type='text', name='username', placeholder='Username...' label='Username')
                label.e-form__label(for='email_forgot-pass')
                  Password
                  input.e-form__field#email_forgot-pass(type='text', name='email', placeholder='Email...', data-validation='isEmail;')
                  .error
                    span(data-validation-msg='isEmail')
                      | This is not a valid email.
                button.e-form__button(type='submit') Proceed
      article#resetPassword.hidden
        .b-modal-window
          .b-modal-window__main-block.b-reset-pass
            .b-modal-window__main-block__header
              h2.b-modal-window__main-block__header--title
                | RESET PASSWORD
              span.b-modal-window__main-block__header--icon-close()
                a.fa.fa-times(title='Login' href='#/login')
            .b-modal-window__main-block__body
              form.e-form(method='POST', autocomplete="off")
                label.e-form__label(for='password_reset-pass')
                  input.e-form__field#password_reset-pass(type='password', placeholder='Enter new password...', name='password', data-validation='len(8,20);')
                  .error
                    span(data-validation-msg='len')
                      | This field must have at least 8 and cannot be longer than 20 characters.
                label.e-form__label(for='confirmpass_reset-pass')
                  input.e-form__field#confirmpass_reset-pass(type='password', placeholder='Confirm new password...', name='confirmpass', data-validation='isMatch(password)')
                  .error
                    span(data-validation-msg='isMatch')
                      | Passwords do not match
                button.e-form__button(type='submit') Apply
      article#resetPasswordError.hidden
        .b-modal-window
          .b-modal-window__main-block.b-reset-pass-error
            .b-modal-window__main-block__header
              h2.b-modal-window__main-block__header--title
                | RESET PASSWORD
              span.b-modal-window__main-block__header--icon-close()
                a.fa.fa-times(title='Reset password' href='#/resetPassword')
            .b-modal-window__main-block__body
              .modal.success-registration.hidden
                .msg
                p Password reset token is invalid or has expired.

      article#successRegistration.hidden
        .b-modal-window
          .b-modal-window__main-block.b-success-registration
            .b-modal-window__main-block__header
              h2.b-modal-window__main-block__header--title
                | Successfully Registration
              span.b-modal-window__main-block__header--icon-close()
                a.fa.fa-times(title='Register' href="#/register")
            .b-modal-window__main-block__body
              .modal.success-registration
                .msg
                p You have successfully created an account on the server! Please check your email to continue with the registration process. If you cannot find the email in your inbox then please check your Spam folder
                button.b-success-registration__btn(type="button")
                  a(href='#/login')
                    span.fa.fa-check.b-success-registration__btn--icon
                    span() OK

    .b-page__footer
      ul.b-page__footer__box
        li.b-page__footer__box__item
          a.b-page__footer__box__item__link(target='_blank', href='https://www.microsoft.com/en/mobile/privacy/privacy/policy/privacy-policy/')
            | Privacy Policy
        li.b-page__footer__box__item
          a.b-page__footer__box__item__link(target='_blank', href='https://www.microsoft.com/en/mobile/privacy/privacy/cookie/cookie-policy/')
            | Cookie Policy
        li.b-page__footer__box__item
          a.b-page__footer__box__item__link(target='_blank', href='https://www.microsoft.com/en/mobile/privacy/privacy/service-terms/service-terms/')
            | Service Policy
        li.b-page__footer__box__item
          a.b-page__footer__box__item__link(target='_blank', href='https://github.com/nokiadatagathering')
            | Code
